.app-container {
  display: flex;
  height: 100%;
  width: 100vw;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.accordian {
  width: 500px;
}

.item {
  background: #f0ebe1;
  margin-bottom: 5px;
  padding: 10px 20px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #85662b;
  cursor: pointer;
}

.answer {
  color: #8b7f75;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.answer.show {
  height: auto;
  max-height: 9999px;
  transform: all 0.5s cubic-bezier(1,0,1,0);
}